{{!-- Footer --}}
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Ember Charts</h6></li>
          <li><LinkTo @route="overview">Overview &amp; Getting Started</LinkTo></li>
          <li><LinkTo @route="documentation">API &amp; Documentation</LinkTo></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Chart Types</h6></li>
          <li><LinkTo @route="horizontal-bar">Horizontal Bar Chart</LinkTo></li>
          <li><LinkTo @route="vertical-bar">Vertical Bar Chart</LinkTo></li>
          <li><LinkTo @route="pie">Pie Chart</LinkTo></li>
          <li><LinkTo @route="scatter">Scatter Plot</LinkTo></li>
          <li><LinkTo @route="time-series">Time Series</LinkTo></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>Addepar Open Source</h6></li>
          <li><a href="https://opensource.addepar.com/">Home</a></li>
          <li><LinkTo @route="license">License</LinkTo></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li><h6>About Addepar</h6></li>
          <li><a href="https://www.addepar.com">www.addepar.com</a></li>
          <li>
            <address>
              <br>
              <a href="https://www.google.com/maps/dir//303+Bryant+Street+Mountain+View,+CA+94041"><strong>Addepar MV</strong><br>
              303 Bryant Street<br>
              Mountain View, CA 94041</a><br><br>

              <a href="https://www.google.com/maps/dir//335+Madison+Ave+%231430,+New+York,+NY+10017"><strong>Addepar NY</strong><br>
              335 Madison Ave, Suite 1430<br>
              New York, NY 10017</a><br>
            </address>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-align">
        <p>&copy; 2018 Addepar, Inc.</p>
      </div>
    </div>
  </div>
</div>
