{{!-- Sub-Navigation --}}
<div class="col-md-2 sub-navigation-sidebar">
  <ul class="list-unstyled github-navigation">
    <li>
      <a class="btn btn-default" target="_BLANK" href="https://github.com/addepar/ember-charts">
        <i class="icon-github"></i> View on GitHub
      </a>
    </li>
    <li>
      <iframe title="ember-charts" src="https://ghbtns.com/github-btn.html?user=addepar&amp;repo=ember-charts&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
    </li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li class="sub-title">Ember charts</li>
    <li><LinkTo @route="overview">Overview &amp; Getting Started</LinkTo></li>
    <li><LinkTo @route="documentation">API &amp; Documentation</LinkTo></li>
  </ul>
  <hr>
  <ul class="list-unstyled project-navigation">
    <li><LinkTo @route="horizontal-bar">Horizontal Bar Chart</LinkTo></li>
    <li><LinkTo @route="vertical-bar">Vertical Bar Chart</LinkTo></li>
    <li><LinkTo @route="stacked-vertical-bar">Stacked Bar Chart</LinkTo></li>
    <li><LinkTo @route="pie">Pie Chart</LinkTo></li>
    <li><LinkTo @route="scatter">Scatter Plot</LinkTo></li>
    <li><LinkTo @route="time-series">Time Series Chart</LinkTo></li>
  </ul>
</div>
